.row.task
  .checkbox-field.col-xs-1
    %input{:type => "checkbox"}
  .task-field.col-xs-9
    = task.name
  .taskcontrol-field.col-xs-2
    .arrows
      =link_to task_moveup_path(task.id), {remote: true, class: "task-arrow-top"} do
        .glyphicon.glyphicon-triangle-top
      =link_to task_movedown_path(task.id), {remote: true, class: "task-arrow-bottom"} do
        .glyphicon.glyphicon-triangle-bottom
    =link_to '#', {remote: true, class: "task-pencil"} do
      .glyphicon.glyphicon-pencil
    =link_to task_path(task), {remote: true, method: :delete, class: "task-trash "} do
      .glyphicon.glyphicon-trash

