// Place all the styles related to the Users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
@import "bootstrap-sprockets";
@import "bootstrap";

body {
  background-image: image-url('background.jpg');
}

.user-form {
  padding-top: 60px;
}
.panel-login {
  border-color: #ccc;
  -webkit-box-shadow: 0px 2px 3px 0px rgba(0,0,0,0.2);
  -moz-box-shadow: 0px 2px 3px 0px rgba(0,0,0,0.2);
  box-shadow: 0px 2px 3px 0px rgba(0,0,0,0.2);
}
.panel-login>.panel-heading {
  color: #00415d;
  background-color: #fff;
  border-color: #fff;
  text-align:center;
}
.panel-login>.panel-heading hr{
  margin-top: 10px;
  margin-bottom: 0px;
  clear: both;
  border: 0;
  height: 1px;
  background-image: -webkit-linear-gradient(left,rgba(0, 0, 0, 0),rgba(0, 0, 0, 0.15),rgba(0, 0, 0, 0));
  background-image: -moz-linear-gradient(left,rgba(0,0,0,0),rgba(0,0,0,0.15),rgba(0,0,0,0));
  background-image: -ms-linear-gradient(left,rgba(0,0,0,0),rgba(0,0,0,0.15),rgba(0,0,0,0));
  background-image: -o-linear-gradient(left,rgba(0,0,0,0),rgba(0,0,0,0.15),rgba(0,0,0,0));
}
.panel-login input[type="text"],.panel-login input[type="email"],.panel-login input[type="password"] {
  height: 45px;
  border: 1px solid #ddd;
  font-size: 16px;
  -webkit-transition: all 0.1s linear;
  -moz-transition: all 0.1s linear;
  transition: all 0.1s linear;
}

.btn-login {
  background-color: #59B2E0;
  outline: none;
  color: #fff;
  font-size: 14px;
  height: auto;
  font-weight: normal;
  padding: 14px 0;
  text-transform: uppercase;
  border-color: #59B2E6;
}



.btn-login:hover,
.btn-login:focus {
  color: #fff;
  background-color: #53A3CD;
  border-color: #53A3CD;
}

.btn-register {
  background-color: #1CB94E;
  outline: none;
  color: #fff;
  font-size: 14px;
  height: auto;
  font-weight: normal;
  padding: 14px 0;
  text-transform: uppercase;
  border-color: #1CB94A;
}
.btn-register:hover,
.btn-register:focus {
  color: #fff;
  background-color: #1CA347;
  border-color: #1CA347;
}

.btn-dlt {
  background-color: #ed6051;
  outline: none;
  color: #fff;
  font-size: 14px;
  height: auto;
  font-weight: normal;
  padding: 14px 0;
  text-transform: uppercase;
  border-color: #ed6051;
}
.btn-dlt:hover,
.btn-dlt:focus {
  color: #fff;
  background-color: #ed3f2f;
  border-color: #ed3f2f;
}

#error_explanation {
  color: #ed6051;
}


.todo{
  margin: 50px auto;
  width: 600px;
}
/*head*/
.todo-head {
  overflow: hidden; 
  background: #3C5CA3;
  background: -moz-linear-gradient(#98B0D2, #3C5CA3);
  background: -webkit-linear-gradient(#98B0D2, #3C5CA3);
  background: -o-linear-gradient(#98B0D2, #3C5CA3);
  background: -ms-linear-gradient(#98B0D2, #3C5CA3);
  background: linear-gradient(#98B0D2, #3C5CA3);
  color: white;
  padding: 10px;
  cursor: pointer;
}

.glyphicon-list.head {
  color: #98B0D2;
  font-size: 115%;
  padding-right: 5px;
  padding-bottom: 2px;
}

.list-pencil {
  border-right: solid 1px #98B0D2; 
}

.title {
  float: left;
}

.todo-controls {
  float: right;
  display: none;
}

.list-controls {
  color: #98B0D2;
  text-decoration: none;
  padding-right: 5px;
  padding-left: 5px;
 &:hover {
  color: white;
  text-decoration: none; 
 }
}

#project-edit {
  width: 500px;
  height: 29px;
}

.proj-name {
  display: inline-block;
}

/*input*/

.todo-input {
  overflow: hidden;
  background: #CDCDCD;
  background: -moz-linear-gradient(#DFDFDF, #CDCDCD);
  background: -webkit-linear-gradient(#DFDFDF, #CDCDCD);
  background: -o-linear-gradient(#DFDFDF, #CDCDCD);
  background: -ms-linear-gradient(#DFDFDF, #CDCDCD);
  background: linear-gradient(#DFDFDF, #CDCDCD);
}

.glyphicon-plus.add {
  float: left;
  color: #589072;
  font-size: 150%;
  margin-top: 12px;
  margin-left: 13px;
  margin-right: 8px;
}

.task-input {
  padding: 8px;
  width: 90%;
}

.task-form {
  display: inline-table;
}

.btn-task {
  background: #508767;
  background: -moz-linear-gradient(#91C8AB, #508767);
  background: -webkit-linear-gradient(#91C8AB, #508767);
  background: -o-linear-gradient(#91C8AB, #508767);
  background: -ms-linear-gradient(#91C8AB, #508767);
  background: linear-gradient(#91C8AB, #508767);
  color: white;
}

/* tasks */


.task {
  background: white;
  border-bottom: 1px solid #ccc;
  height: auto;
  color: #999999;
  cursor: pointer;
  &:last-child {
    border-bottom-right-radius: 15px;
    border-bottom-left-radius: 15px;
  }
  &:hover {
    background: #FCFED5;
    .col-xs-2 {
      display: block;
    }
  }
}

.checkbox-field {
    width: 5%;
    padding-top: 5px;
    padding-bottom: 6px;
    margin-right: 6px;
    height: 100%;
}

.task-field {
    word-wrap: break-word;
    border-left: 7px double #EFDADF;
    border-right: 1px solid #ccc;
    width: 75%;
    text-align: left;
    padding-top: 7px;
    padding-bottom: 7px;
}

.taskcontrol-field {
    display: none;
    width: auto;
    padding-top: 5px;
    padding-bottom: 4px;
    height: 100%;
}

.task-pencil {
  display: inline;
  padding-left: 8px;
  padding-right: 8px;
  border-left: 1px solid #cccccc;
  border-right: 1px solid #cccccc;
  text-decoration: none;
  color: #999999;
  &:hover {
    text-decoration:none;
    color: #999999;
  }
}

.task-trash {
  padding-left: 8px;
}

.arrows {
  display: inline-block;
  line-height: 0;
  margin-bottom: -4px;
  padding-right: 8px;
}

.task-arrow-top {
  display: table-header-group;
  cursor: pointer;
  margin-bottom: 0px;
  padding-bottom: 0px;
  font-size: x-small;
  text-decoration: none;
  color: #999999;
  &:hover {
    text-decoration:none;
    color: #999999;
  }
}

.task-arrow-bottom {
  display: table-footer-group;
  cursor: pointer;
  margin-top: 0px;
  padding-top: 0px;
  font-size: x-small;
  text-decoration: none;
  color: #999999;
  &:hover {
    text-decoration:none;
    color: #999999;
  }
}




.task-trash {
  text-decoration: none;
  color: #999999;
  &:hover {
    text-decoration:none;
    color: #999999;
  }
}

.addprojects {
  width: 100px;
  margin: 50px auto;
}

.header {
  text-align: right;
  padding-right: 30px;
}

.project-plus {
  padding-right: 5px;
  color: #2F4870;
  font-size: 16px;
}


.btn-project {
  align-self: center;
  color: #fff;
  height: auto;
  font-weight: normal;
  border-color: #315589;
  background: #3D65A9;
  background: -moz-linear-gradient(#5180C2, #385AA3);
  background: -webkit-linear-gradient(#5180C2, #385AA3);
  background: -o-linear-gradient(#5180C2, #385AA3);
  background: -ms-linear-gradient(#5180C2, #385AA3);
  background: linear-gradient(#5180C2, #385AA3);
}

